/*Scrollbar */

/*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
}

::-webkit-scrollbar-button:vertical:increment {
	background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #9b7f48;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}*/

/* @end */


* { 
margin: 0; 
padding: 0;
outline: none;
}

html {
	overflow-y: auto;
	background-color: transparent;
}

body {
	font-size: 16px;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	min-width: 1000px;
	background: url('images/brownpaper.jpg');
    
	/* for scrollbar */
/*	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
*/}


#wrapper {
    position: relative;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 1024px;
    height: 900px;
}

#wrapper p {
	padding: 30px 30px 0 30px;
}


img {
    border: none;
}

h1 {
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom: 40px;
    
    height: 115px;
    background: url("images/header.png");
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center center;
}

.header2011 {
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom: 40px;
    
    height: 92px;
    width:940px;
    background: url("images/subhead.png");
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center center;
}

h2 {
    margin-left:auto;
    margin-right:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "LoveYaLikeASister", serif;
    color: white;
    font-size: 16pt;
}

h2 a, h2 a:visited, h2 a:hover {
    color: #FFF38D;
}

h3 {
    margin-left:auto;
    margin-right:auto;
    
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center center;
    
}

#thespeakers {
    margin-top: 50px;
    margin-bottom: 40px;
    
    height: 93px;
    width: 570px;
    background: url("images/thespeakers.png");
    
}

.speakers {
    padding-bottom:200px;
}


.polaroid {
    width: 250px; height: 280px;
    background-color: #fefff9;
    
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0 5px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.33) 0 5px 5px;
    padding-top:25px;
    
    font-family: "LoveYaLikeASister", serif;
    font-size: 14pt;
    
    float:left;
    
    border-width: 1px;
    border-style: solid;
    border-color: #999a9d;
    margin-top:5px;
}

#embed_video {
    background-color: #fefff9;
    
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0 5px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.33) 0 5px 5px;
    padding:25px;
    width:700px;
    margin:0 auto;
}

#schedule
{
    background-color: #fefff9;
    
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0 5px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.33) 0 5px 5px;
    padding:25px;
    margin:0 auto;
    
    font-family: "LoveYaLikeASister", serif;
    font-size: 14pt;
    width:400px;
}
#schedule:after {
    clear:both;
}
#times {
    width:100px;
    float:left;
    text-align:right;
    color:#a08b5c;
    font-weight:bold;
}
#names{
    width:250px;
    float:left;
    margin-left:20px;
    text-align:left;
}
.clear {
    clear:both;
}

.polaroid img {
    margin-bottom: 10px;
}

.polaroid .company {
    display: block;
    font-size: 10pt;
    
}

.polaroid .company a {
    text-decoration: none;
    color: black;
}

.polaroid .company a:hover {    
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-style: dashed;
    border-color: #979797;
}

.polaroid .company a:active {  
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-style: dashed;
    border-color: #979797;  
}

.polaroid .company a:visited {
    border-style: none;
    text-decoration:none;
}


@font-face {
    font-family: "LoveYaLikeASister";
    src: url('fonts/loveyalikeasister-webfont.eot');
    src: url('fonts/loveyalikeasister-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/loveyalikeasister-webfont.woff') format('woff'),
         url('fonts/loveyalikeasister-webfont.ttf') format('truetype'),
         url('fonts/loveyalikeasister-webfont.svg#LoveYaLikeASisterRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.polaroid img {
    margin-left: auto;
    margin-right: auto;
    display:block;
    
    width: 200px; height: 200px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0 0px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.33) 0 0px 2px;
}

#clear {
    clear:both;
}

#card {
    margin-left:auto;
    margin-right:auto;
    width: 594px; 
    height: 381px;
    background: url("images/card.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0 5px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.45) 0 5px 10px;
    
}

#rsvp {
    padding-top:25px;
    margin-left:auto;
    margin-right:auto;
    width: 228px; 
    height: 48px;
    background: url("images/rsvp.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    
}

.card_content {
    font-family: "LoveYaLikeASister", serif;
    font-size: 14pt;
    text-align:left;
    padding-top:30px;
    padding-left:60px;
    padding-right:40px;
    margin-top:46px;
    
}


#cm_form input
{
	margin-left: 15px;
	width: 75%;
	
	border-width: 3px;
    border-style: dashed;
    border-color: black;
    
	font-size: 20px;
	font-family: "LoveYaLikeASister", serif;
	text-align: left;
	color:#858585;
	text-align:center;
	background: transparent;
	
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 3px;
	border-style: dashed;
	border-color: black;

}


#submitButton
{
    width: 90px; height: 51px;
    display: block;
    
    margin-top:65px;
    margin-left:auto;
    margin-right:auto;
    background: url("images/ok.png")  no-repeat 0 0;
    text-indent: -9999px;
        
}

#submitButton:hover
{ 
  background-position: 0 -51px;
}

#submitButton span
{
  position: absolute;
  top: -9999px;
}


#bolt {
    width: 45px; height: 93px;
    background: url("images/bolt.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    
    margin-left:auto;
    margin-right:auto;
    margin-top: 25px;
    margin-bottom:25px 
}


#legal {
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    font-family: "LoveYaLikeASister", serif;
    font-size: 10pt;
    color: black;
    
}


