*
{
	margin: 0;
	padding: 0;
}

#highlight {
	color: #000000;
	background-color: #FFFF66;
}

img {
	border: none;
}


body {
	background-color: #FFFFFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #000000;
	width:900px;
	margin: 0px auto;
}


a:link, a:visited {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #000000;
	background-color: #ffff66;
	text-decoration: none;
}

#topbar {
	margin-top: 20px;
	margin-bottom: 100px;
}

.buttons {
	float: right;
}

.nav ul {
	bottom: -1px;
	list-style-type: none;
	float: left;
}

.nav li{
	display: inline;
	margin-right: 10px;
	display: inline;
	float: left;
}

.title {
	line-height: .9em;
	font-weight: bold;
	font-size: 6em;
}	

.ok {
	text-align: center;
	line-height: .9em;
	font-weight: bold;
	font-size: 6em;
}

.signedup {
	text-align: center;
	font-weight: bold;
}

#bam {

	margin-top: 30px;
	line-height: 1.2em;
	padding-bottom: 50px;
}

#bam ul{
	list-style: none;
}

#bam li{
	float:left;
	display: inline;
	padding-right: 45px;
	padding-bottom: 10px;
	padding-top: 15px;
}


#bam p{
	display: inline;
}

#org {

	margin-top: 30px;
	line-height: 1.2em;
	padding-bottom: 50px;
}

.thanks{
	float: left;
	width: 800px;
	height: 30px;
}

.us {
	float: left;
	text-align: left;
	width: 350px;
	height: 200px;
}

.us p{
	width: 190px;
	float: right;
	text-align: left;
}

#theForm {
	font-size: .8em;
}

#bambox {

	margin-top: 30px;
	line-height: 1.2em;
	border-color: black;
	border-width: 3px;
	border-style: solid;

}

#tweetbox {

	margin-top: 30px;
	line-height: 1.2em;
	border-color: black;
	border-width: 3px;
	border-style: solid;
	margin-bottom: 50px;

}

#bam p{
	margin: 10px;
	margin-bottom: 15px;
}

#speakerdesc {
	font-size: .8em;
	line-height: 1.8em;

}

.slide1 img {
	padding: 15px;
}


#infobox {
	margin-top: 15px;
	padding-bottom: 50px;
}


#spons {

	text-align: center;
	margin-top: 30px;
	line-height: 1.2em;
	border-color: black;
	border-width: 3px;
	border-style: solid;
}

#spons a:hover{
	background: none;
}

#stream{
	margin-top: 30px;
}