
html * {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}


#highlight {
	color: #000000;
	background-color: #FFFF66;
}

body {
	color: #333333;
	text-align: left;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 101%;
	line-height: 150%;
	background-color: #FFFFFF;
}

#wrapper {
	width: 650px;
	margin-right: auto;
	margin-left: auto;
}

#masthead {
	font-size: 4em;
	font-weight: bold;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 0;
	margin-left: 20px;
	color: #000000;
	line-height: normal;
/* 	background-color: #FFFF66; */
}



#subhead {
	color: #333333;
	font-size: 1.3em;
	font-weight: bold;
	text-align: left;
	margin-right: 20px;
	margin-bottom: 0;
	margin-left: 20px;
	line-height: normal;
}



#leftbox {
	float: left;
	width: 250px;
}

#infobox {
	float: right;
		
	width: 300px;
	height: 200px;
	
	margin-right: 50px;
	margin-top: 50px;
	border-style: dashed;
	border-width: 3px;
	padding: 10px;
}

a:hover {
	color: #000000;
	letter-spacing: normal;
}


#header {
	color: black;
	display: block;
	font-size: 29px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;

	margin-right: 20px;
	margin-bottom: 0;
	margin-left: 20px;
	margin-top: 50px;
}

#navigation {

	color: black;
	display: block;
	font-size: 29px;
	font-weight: bold;
	line-height: 40px;

	list-style-type: none;

	margin-right: 20px;
	margin-bottom: 0;
	margin-left: 20px;
	margin-top: 50px;
}

#text {
	display: block;
	
	margin-right: 20px;
	margin-bottom: 0;
	margin-left: 20px;
	margin-top: 10px;
}

a:link, a:visited {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #000000;
	background-color: #FFFF66;
}

#footer {
padding-top: 50px;
clear:both;
}

